body{
    /* background-color: rgb(53, 69, 92,1); */
    background-image: url(https://i.pinimg.com/474x/66/6f/fe/666ffead9cd58319286c1b57c8bedf9d.jpg);
}

.p5Canvas{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;

}

